# Database configuration
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_HOST=
POSTGRES_PORT=
POSTGRES_NAME=


# Application settings
API_V1_STR="/api/v1"
FRONTEND_HOST=
ENVIRONMENT="development"
LOG_LEVEL="info"
CORS_ORIGINS=


# Security settings
SECRET_KEY=
ALGORITHM= "HS256"
ACCESS_TOKEN_EXPIRE_MINUTES=30
